$color-white: #fff;
$color-black: #111111;
$color-classic: #34568B;
$color-classic-izis: #5B5EA6;
$color-sand-dollar: #DFCFBE;
$color-cerulean-blue: #98B4D4;
$color-medium-purple: #d0bdf4;
$color-ice-cold: #a0d2eb;
$color-grey: rgba(176, 176, 176, 0.33);
$color-shadow-violet: rgb(85, 91, 255);
$color-shadow-green: rgb(27, 169, 23);
$color-shadow-yellow: rgb(213, 182, 23);
$color-shadow-orange: rgb(255, 156, 85);
$color-shadow-red: rgb(162, 56, 56);
$color-metallic-gold: #D4AF37;
$color-gold: #FFD700;
