@import "src/styles/styles";

.header {
  height: 70px;
  min-height: 70px;
  background-color: v(standard-bg);
}

.main {
  flex-grow: 1;
  background-color: v(color-bg);
  color: v(color-text);
  max-height: calc(100% - 120px);
}

.footer {
  height: 50px;
  min-height: 50px;
  background-color: v(classic-bg);
  color: v(color-text-contrast);
}